/.project
/target
.DS_Store
infer-out
bazel-*
*~

*.class
.DS_Store

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
# *.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.project
.classpath
target/
target/*
.settings
.settings/*
.idea
.idea/*
.temppath
.temppath/*
*.iml

